body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Take full viewport height */
    flex-direction: column; /* Stack main items (board+names, buttons) vertically */
}

#board-and-players {
    width: 90vh;
    height: 73vh;
    position: relative;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
}

#player-names {
    font-size: 3.2vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute names evenly, top and bottom */
    height: 100%; /* Make it take the full height of the container */
    margin-left: 20px; /* Some spacing from the board */
    align-content: left;
    height: 70vh;
}

#buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    width: 90vh;
    margin-top: 30px;
}

    
button {
    width: 10.5vh;
    height: 9.5vh;
    font-size: 1.74vh;
    font-family: monospace;
    margin-right: 2vh; /* Spacing between buttons */
    background-color: white;
    color: black;
    border: none;
    padding: 1vh 2vh;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:last-child {
    margin-right: 0;
}

button:hover {
    background-color: #f0d9b5;
}


table {
    border-collapse: collapse;  /* This ensures that the borders of adjacent cells are merged */
    border: none;  /* Remove table border */
}

td {
    cursor: default;
    width: 10vh;
    height: 10vh;
    text-align: center;
    vertical-align: middle;
    font-size: 5vh;
    border: none;
    transition: background-color 0.3s;  /* Smooth transition for highlighting */
}

/* For the attacker */
#board.attacker td.⚫:hover {
    cursor: pointer;
    background-color: rgba(50, 50, 50, 0.1);
}

/* For the defender */
#board.defender td.⚪:hover, 
#board.defender td.⬜:hover {
    cursor: pointer;
    background-color: rgba(50, 50, 50, 0.1);
}

/* Light squares */
tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even) {
    background-color: #b58863;
    /* background-color: #62a6d6; */
}

/* Dark squares */
tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
    background-color: #e9c387;
    /* background-color: #4c98cf; */
}

/* Corner squares */
tr:first-child td:first-child,
tr:first-child td:last-child,
tr:last-child td:first-child,
tr:last-child td:last-child {
    background-color: #7b7b7b; /* Example color; adjust as you like */
}


#board td.selected {
    background-color: rgba(120, 120, 120, 0.7);  /* Example color; feel free to adjust */
}

/* Highlighting for legal squares */
td.legal-move {
    background-color: #e3e2b4 !important; /* Highlight color */
}

/* The overlay styles */
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    font-size: 50px;
    font-family: monospace;
    color: white;
    z-index: 10; /* Make sure it's on top of other elements */
}

/* The class that hides elements */
#overlay.hidden {
    display: none;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #999; /* Adjust as desired */
    vertical-align: middle;
    cursor: pointer;
}

input[type="radio"]:checked {
    background-color: #969696; /* Adjust color as desired */
    border-color: #333; /* Adjust color as desired */
}

input[type="radio"]:focus {
    outline: none;
}

#ai-difficulty-container label {
    font-size: 1.8vh;
    font-family: monospace;
}

#ai-difficulty-container {
    width: 18vh;
}

.hidden {
    display: none;
}


#attacker-label, #defender-label {
    color: #868686;
}

.active-player {
    font-weight: bold;
    color: #ffffff !important; /* or any other color you prefer */
}


/* Responsive layout for screens smaller than 768 pixels */
@media only screen and (max-width: 768px) {
    td {
        cursor: default; /* normal arrow cursor for all cells */
        width: 50px;  /* Increase from previous value */
        height: 50px;  /* Increase from previous value */
        text-align: center;
        vertical-align: middle;
        font-size: 32px;  /* Adjust font size to match larger cell size */
        border: none;  /* Remove cell borders */
        transition: background-color 0.3s;  /* Smooth transition for highlighting */
    }

    #board-and-players {
        flex-direction: column;
        align-items: center;
        width: 98%;
        height: 60vh;
    }
    
    #player-names {
        font-size: 24px;
        flex-direction: row;
        /* justify-content: space-between; */
        width: 100%;
        margin-bottom: 20px; /* Spacing between the labels and the board */
        height:10vh;
    }
    
    #attacker-label, #defender-label {
        flex: 1;
        text-align: center; /* Center the labels */
    }
    #buttons-container {
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        align-items: center;
        /* justify-content: center; */
        width: 80%;
        height: 20vh;
        margin-top: 10px;
    }

    button {
        width: 80px;
        height: 80px;
        font-size: 16px;
        font-family: monospace;
        margin-top: 20px; /* Spacing between buttons */
        margin-bottom: 10px; /* Spacing between buttons */
        background-color: white;
        color: black;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
}