body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Take full viewport height */
    flex-direction: column; /* Stack main items (board+names, buttons) vertically */
}

#board-and-players {
    width: calc(10 * 100px);
    position: relative;
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
}

#player-names {
    font-size: 36px;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute names evenly, top and bottom */
    height: 100%; /* Make it take the full height of the container */
    margin-left: 20px; /* Some spacing from the board */
}

#buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    width: calc(10 * 100px);
    margin-top: 30px;
}

    
button {
    width: 120px;
    height: 100px;
    font-size: 20px;
    font-family: monospace;
    margin-right: 20px; /* Spacing between buttons */
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:last-child {
    margin-right: 0;
}

button:hover {
    background-color: #f0d9b5;
}


table {
    border-collapse: collapse;  /* This ensures that the borders of adjacent cells are merged */
    border: none;  /* Remove table border */
}

td {
    cursor: default; /* normal arrow cursor for all cells */
    width: 100px;  /* Increase from previous value */
    height: 100px;  /* Increase from previous value */
    text-align: center;
    vertical-align: middle;
    font-size: 40px;  /* Adjust font size to match larger cell size */
    border: none;  /* Remove cell borders */
    transition: background-color 0.3s;  /* Smooth transition for highlighting */
}

/* For the attacker */
#board.attacker td.⚪:hover {
    cursor: pointer;
    background-color: rgba(50, 50, 50, 0.1);
}

/* For the defender */
#board.defender td.⚫:hover, 
#board.defender td.⬛:hover {
    cursor: pointer;
    background-color: rgba(50, 50, 50, 0.1);
}

/* Light squares */
tr:nth-child(odd) td:nth-child(odd),
tr:nth-child(even) td:nth-child(even) {
    background-color: #f0d9b5;
}

/* Dark squares */
tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
    background-color: #b58863;
}

#board td.selected {
    background-color: rgba(120, 120, 120, 0.7);  /* Example color; feel free to adjust */
}

/* Highlighting for legal squares */
td.legal-move {
    background-color: #a4d3a3 !important; /* Highlight color */
}

/* The overlay styles */
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    font-size: 50px;
    font-family: monospace;
    color: white;
    z-index: 10; /* Make sure it's on top of other elements */
}

/* The class that hides elements */
#overlay.hidden {
    display: none;
}